@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

/* Basic styling */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

li, a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

header {
  background: #24252A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}

.logo{
  cursor: pointer;
  width: 200px;
  height: 40px;
}

.nav-links{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-links li {
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

/*mobile menu */
@media all and (max-width: 400px){
 header{
   justify-content: space-around;
 }

 .logo{
  width: 100px;
 }

 .nav-links{
    flex-direction: column;
  }

  .nav-links li a {
    font-size: 14px;
  }
} 


#container{
  /*display: flex;*/
  display: none;
  flex-flow: column wrap;
  align-items: center;
  padding: 5px;
}

#generales{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9c9c9c;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: large;
  margin-top: 10px;
  border-radius: 10px 10px;
  padding: 5px;
  -webkit-box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
  -moz-box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
  box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
}

.element-general{
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.element-general label{
    order: 1;
    width: 30%;
}

.element-general input{
    width: 70%;
    order:2;
}

.element-general select {
    width: 70%;
    order:2;
}

.inputsforms{
    height: 20px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #a29e9e;
    font-size: larger;
}

#tipodepaciente{
    font-size: medium;
}

.normal{
  margin-top: 30px;
  padding: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #9c9c9c;
  padding-bottom: 1em;
  border-radius: 10px 10px;
  -webkit-box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
    box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
}

.element-normal{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.element-normal label{
    order: 1;
    width: 70%;
}

.element-normal input{
    width: 20%;
    order:2;
}

.element-normal-submit button{
  border-radius: 5px;
  color: #fefefe;
  background: #00a1ff;
  padding: 5px;
}

.Deportista{
  margin-top: 30px;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #9c9c9c;
  padding-bottom: 1em;
  border-radius: 10px 10px;
  -webkit-box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
    box-shadow: 22px 21px 5px 6px rgba(0,0,0,0.75);
}

.element-deportista{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.element-deportista label{
    order: 1;
    width: 40%;
}

.element-deportista input{
    width: 40%;
    order:2;
}

.element-deportista-submit button{
  border-radius: 5px;
  color: #fefefe;
  background: #00a1ff;
  padding: 5px;
}


/*Seguimiento*/
#Seguimiento{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.element-seguimiento-search{
  width: 400px;
  display: flex;
  margin-top: 10px;
}

.element-seguimiento-search input{
  width: 70%;
  border: 1px solid #b8b8b8;
  border-radius: 50px;
  text-align: center;
}

.element-seguimiento-search input:focus{
  outline: none !important;
}

.element-seguimiento-search button{
  width: 30%;
  border: none;
  border-radius: 50px;
  background: #00ccff;
  color: #fff;
  margin-left: 2%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.element-seguimiento-search button:hover{
  color: #256a9f;
}

.element-seguimiento-result{
  display: flex;
  padding: 16px;
  width: 100%;
}


.valores-result{
  flex: 1;
  width: 0;
}

.valores-result:not(last-child){
  margin-right: 10px;
}

.tabla-column{
  border: 1px solid #eee;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: .5s;
}

.tabla-column:hover{
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.3);
  transform: scale(1.05);
}

.tabla-column .tabla-head{
  background: #0e908f;
  color: #fff;
  font-size: 12px;
  font-family: "Roboto",sans-serif;
}

.tabla-column li{
  background-color: #262626;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-family: poppins;
}

.valores-result:hover .tabla-column .tabla-head{
  background-color: #f12e07;
  transition: .9s;
}

.element-seguimiento-grafica{
    display: flex;
    padding: 16px;
    width: 100%;
    flex-direction: column;
}

.element-seguimiento-button {
  align-self: center;
}    

.element-seguimiento-button button{
  border: none;
  border-radius: 50px;
  background: #00ccff;
  color: #fff;
  margin-left: 2%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.element-seguimiento-button button:hover{
  color: #256a9f;
}

.element-seguimiento-chart{
  align-self: center;
}

.element-seguimiento-pdf button{
  border: none;
  border-radius: 50px;
  background: #00ccff;
  color: #fff;
  margin-left: 2%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.element-seguimiento-pdf {
  align-self: center;
}    

.element-seguimiento-pdf button:hover{
  color: #256a9f;
}

.chart-container{
  width: 400px;
  height: 400px;
}

@media only screen and (max-width: 767px){
  .element-seguimiento-result{
    flex-wrap: wrap;
  }

  .valores-result{
    flex: 0 0 100%;
    margin-bottom: 5px;
    width: 100%;
  }

  .tabla-column:hover{
    box-shadow: none;
    transform: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .element-seguimiento-result{
    flex-wrap: wrap;
  }

  .valores-result{
    flex: 0 0 20%;
    margin-bottom: 5px;
    width: 100%;
  }
}

/*ipad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .tabla-column .tabla-head{
      overflow-wrap: break-word;
      font-size: 7px;
    }
    .tabla-column .tabla-row{
      font-size: 10px;
    }
    .valores-result:not(last-child) {
    margin-right: 5px;
}
  }